$theme-colors: (
  "info": #0f4ba5,
  "danger": #922621
);


@import "../node_modules/bootstrap/scss/bootstrap";


.hero-text {        
      
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(237, 246, 248);
 
    }

  
  
  .contact-Me {
   
    max-width: 400px;
    margin:auto;
  }

